<h1><%= @title %> (<%= @servers.size %>)</h1>

<%= form_tag('servers_search') do %>
	<%= text_field_tag('search') %>
	<%= submit_tag('Search') %>
<% end %>

<%= link_to 'New Server', new_server_path %>

<table class="servers">
  <tr>
    <th>Name</th>
	<th>Last Updated</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @servers.each do |server| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= server.fqdn %></td>
	<td><%= server.last_updated.strftime("%Y-%m-%d") %></td>
    <td><%= link_to 'Show', server %></td>
    <td><%= link_to 'Edit', edit_server_path(server) %></td>
    <td><%= link_to 'Destroy', server, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

